
.header {
  background-color: #526D82;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top:0;
  position: sticky;
  z-index: 999;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.header img {
  height: 30px;
}

.icon-back {
  margin-right: auto;
}

.icon-search {
  margin-left: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fdfdfe;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  width: calc(100% - 1px);
  z-index: 100;
}

.nav a {
  flex-grow: 1;
  text-align: center;
  color: rgb(9, 9, 9);
  text-decoration: none;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  height: 24px;
  margin-bottom: 5px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}