body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;  /* 추가 */
  padding-bottom: 100px;  /* 추가 */
}

.header {
  background-color: #526D82;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0; /* 추가 */
  position: sticky; /* 추가 */
  z-index: 999; /* 추가 */
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.header img {
  height: 30px;
}

.icon-back {
  margin-right: auto;
}

.icon-search {
  margin-left: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fdfdfe;
  padding: 10px;
  position: fixed;  /* 변경 */
  bottom: 0;
  width: calc(100% - 1px);  /* 변경 */
  z-index: 100;
}
.nav a {
  flex-grow: 1;
  text-align: center;
  color: rgb(9, 9, 9);
  text-decoration: none;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  height: 24px;
  margin-bottom: 5px;
}

