.terms {
  margin-top:20px;
  border-radius: 18px; /* 둥근 모서리 반경 설정 */
  background-color: #f0f0f0; /* 배경 색상 설정 */
  padding: 20px; /* 안 여백 설정 */
  text-align: center; /* 텍스트 중앙 정렬 설정 */
  font-size: 30px;
  font-weight: bold;
}

hr{
  color: #d9d9d9;
}

.terms p {
  font-size: 15px;
  text-align: left; 
}